<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Rose Garden Template{% endblock %}</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    </head>

    <body>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
        <div class="container">
        
            <div id="page_header">
                {% block page_header %}
                <h1>Rose Garden Library</h1>
                
                {# Load in the LOGOUT_URL from the project's settings.py #}
                {% load settings_tag %}
                {% settings_value 'LOGOUT_URL' as LOGOUT_URL %}

                {# Display the navigation bar #}
                <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                    <div class="container-fluid">

                        <a class="navbar-brand" href="#">Rose Garden Library</a>

                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        
                        <div class="collapse navbar-collapse" id="navbarNavDropdown">
                            <ul class="navbar-nav">
                                <li class="nav-item"><a class="nav-link ps-3" href="{% url 'rosegarden:index' %}">Home</a></li>
                                <li class="nav-item"><a class="nav-link ps-3" href="{% url 'rosegarden:search' %}">Search</a></li>
                                <li class="nav-item"><a class="nav-link ps-3" href="{% url 'rosegarden:branch_list' %}">Branch List</a></li>
                                <li class="nav-item"><a class="nav-link ps-3" href="{% url 'rosegarden:user_list' %}">User List</a></li>
                                {% if user.is_authenticated %}
                                <li class="nav-item"><a class="nav-link ps-3" href="{% url 'rosegarden:user_details' user.username %}">My User Page</a></li>
                                <li class="nav-item"><a class="nav-link ps-3" href="{% url 'rosegarden:add_book' %}">Add Book</a></li>
                                <li class="nav-item"><a class="nav-link ps-3" href="{% url LOGOUT_URL %}">Log Out</a></li>
                        {% endif %}
                            </ul>
                        </div>
                    </div>
                </nav>
                <hr>
                {% endblock page_header%}
            </div>

            <div id="content">
                {% block content%}
                Welcome to the Rose Garden!
                {% endblock content%}
            </div>

            <div id="page_footer">
                {% block page_footer%}
                <hr>
                <small>&copy; Copyright {% now "Y"%}, Benjamin Roos</small>
                {% endblock page_footer%}
            </div>

        </div>
    </body>
</html>