{% extends 'rosegarden/baseTemplate.html' %}

{% block title %}{{ book.title }} | Rose Garden{% endblock title%}

{% block content%}
    <h1><i>{{ book.title }}</i></h1>
    <h2>Available in the <i>{{book.branch.name}}</i> branch</h2>
    {% if can_view_edit_button %}<h3><a href="{% url 'rosegarden:edit_book' book.pk %}">Click here to edit this book!</a></h3>{% endif %}

    <ul>
        <li>Title: {{ book.title }}</li>
        <li>Author or Editor: {{ book.author_editor }} </li>
        <li>DDC number: {{ book.ddc_number }}</li>
        <li>Category: HOLD FOR CATEGORY</li>
        <li>Is this book a biography or memoir?: {{ book.is_biography_or_memoir }}</li>
        <li>Home Branch: {{ book.branch.name }} </li>

    </ul>

{% endblock content%}
