{% extends 'rosegarden/baseTemplate.html' %}

{% block title %}
    {% if not already_deleted %}Deleting {{ book.title }} | Rose Garden
    {% else %}Deleted Book{% endif %}
{% endblock title%}

{% block content%}
    {% if already_deleted%}
        <p>This book has been removed from the library.</p>
    {% else %}
        <h2>Deleting <i>{{ book.title }}</i></h2>
        <h4>This book will be removed from the <i>{{book.branch.name}}</i> branch...</h4>

        <p>Are you sure you want to delete this book?</p>
        <p><b>Warning:</b> This cannot be easily undone! Contact Ben with any questions. </p>

        <form action="{% url 'rosegarden:delete_book' book.pk %}" method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" class="btn btn-dark" value="Delete Book">
        </form>
    {% endif %}

{% endblock content%}
