{% extends 'rosegarden/baseTemplate.html' %}

{% block title %}Rose Garden Library{% endblock title%}

{% block content%}
    <h1>Welcome to the Rose Garden library!</h1>

    {% if book_list%}
    <table class="table table-striped">
        <tr> {# Header Row #}
            <th>Title</th>
            <th>Author or Editor</th>
            <th>DDC number</th>
            <th>Category</th>
            <th>Home Branch</th>
        </tr>
        {% for book in book_list %}
        <tr>
            <td><a href="{% url 'rosegarden:book_details' book.pk %}">{{ book.title }}</a></td>
            <td>{{ book.author_editor }}</td>
            <td>{{ book.ddc_number }}</td>
            <td>{{ book.get_category }}</td>
            <td>{{ book.branch.name }}</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <p>There are currently no books in the library!</p>
    {% if user.is_authenticated %}<p>Create a new book on the <i>Add Book</i> page.<p>{% endif %}
    {% endif %}

{% endblock content%}
