{% extends 'rosegarden/baseTemplate.html' %}

{% block title %}Search | Rose Garden Library{% endblock title%}

{% block content%}
    

    {% if no_results_flag %}
    <h2>No Results Found</h2>
    <hr>
    {% endif %}
    
    {% if book_list %}
        <h2>Search Results</h2>
        <table class="table table-responsive table-striped">
            <tr> {# Header Row #}
                <th>Title</th>
                <th>Author or Editor</th>
                <th>DDC number</th>
                <th>Category</th>
                <th>Home Branch</th>
            </tr>
            {% for book in book_list %}
            <tr>
                <td><a href="{% url 'rosegarden:book_details' book.pk %}">{{ book.title }}</a></td>
                <td>{{ book.author_editor }}</td>
                <td>{{ book.ddc_number }}</td>
                <td>{{ book.get_category }}</td>
                <td>{{ book.branch.name }}</td>
            </tr>
            {% endfor %}
        </table>

        <hr>
    {% endif %}

    
    <h2>Quick Search</h2>
    <p class="pb-3">Keyword search in a book's title, author, version, branch, or DDC number fields.</p>
    <form class="border" action="{% url 'rosegarden:search' %}" method="get">
    <div class="m-3"
        {{ quicksearch_form.as_p }}
        <input type="submit" class="btn btn-dark" value="Search">
    </div>
    </form>
   
    <h2 class="pt-3">Advanced Search</h2>
    <p class="pb-3">The category filter takes precedence over the dewey decimal range filter if both are present.</p>
    <form class="border" action="{% url 'rosegarden:search' %}" method="get">
    <div class="m-3">

        {{ fullsearch_form.non_field_errors }}
        
        <div class="fieldWrapper">
            <p>
            {{ fullsearch_form.f.label_tag }}
            {{ fullsearch_form.f.errors }}
            {{ fullsearch_form.f }}
            </p>
        </div>

        <div class="fieldWrapper">
            <p>
            {{ fullsearch_form.title.label_tag }}
            {{ fullsearch_form.title.errors }}
            {{ fullsearch_form.title }}
            </p>
        </div>

        <div class="fieldWrapper">
            <p>
            {{ fullsearch_form.author.label_tag }}
            {{ fullsearch_form.author.errors }}
            {{ fullsearch_form.author }}
            </p>
        </div>
        

        <p>Dewey Decimal Range</p>

        <div class="row pb-4">
            <div class="col ps-5">
                {{ fullsearch_form.ddcmin.label_tag }}
                {{ fullsearch_form.ddcmin.errors }}
                {{ fullsearch_form.ddcmin }}
            </div>

            <div class="col">
                {{ fullsearch_form.ddcmax.label_tag }}
                {{ fullsearch_form.ddcmax.errors }}
                {{ fullsearch_form.ddcmax }}
            </div>
        </div>


        <div class="fieldWrapper">
            <p>
            {{ fullsearch_form.cat.label_tag }}
            {{ fullsearch_form.cat.errors }}
            {{ fullsearch_form.cat }}
            </p>
        </div>

        <div class="fieldWrapper">
            <p>
            {{ fullsearch_form.bio.label_tag }}
            {{ fullsearch_form.bio.errors }}
            {{ fullsearch_form.bio }}
            </p>
        </div>

        <div class="fieldWrapper">
            <p>
            {{ fullsearch_form.branch.label_tag }}
            {{ fullsearch_form.branch.errors }}
            {{ fullsearch_form.branch }}
            </p>
        </div>

        <input type="submit" class="btn btn-dark" value="Search">
    </div>
    </form>

{% endblock content%}