{% extends 'rosegarden/baseTemplate.html' %}

{% block title %} {{ username }} | User Details | Rose Garden {% endblock title%}

{% block content%}
    <h2>User details for <i>{{ username }}</i></h2>

    {% if matching_user %}
        <p>
            <b>Account Management: </b>
            <a href="{% url change_password_url %}"><button type="button" class="btn btn-dark">Click here to change your password</button></a>
        </p>
    {% endif %}

    <ul class="list group">

        <div class="border">
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                    Full Name:
                    <div class="fw-bold">{{ page_user.get_full_name }}</div>
                </div>
            </li>
        </div>

        <div class="border">
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                    Branch:
                    <div class="fw-bold"><a href="{% url 'rosegarden:branch_details' profile.branch.pk %}">{{ profile.branch.name }}</a></div>
                </div>
            </li>
        </div>

        <div class="border">
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                    Interests: 
                    {% if matching_user %}<a href="{% url 'rosegarden:edit_user' username %}"><button type="button" class="btn btn-dark">Edit</button></a>{% endif %}
                    <div class="fw-bold ps-5">{{ profile.interests|linebreaks }}</div>
                </div>
            </li>
        </div>

{% endblock content%}