{% extends 'rosegarden/baseTemplate.html' %}

{% block title %}Users | Rose Garden{% endblock title%}

{% block content%}
    <h1>Users in the Rose Garden</h1>

    <table class="table table-striped">
        <tr> {# Header Row #}
            <th>User Name</th>
            <th>Full Name</th>
            <th>Branch</th>
        </tr>
        {% for profile in profile_list %}
        <tr>
            <td><a href="{% url 'rosegarden:user_details' profile.user.username %}">{{ profile.user.username }}</a></td>
            <td>{{ profile.user.get_full_name }}</td>
            <td><a href="{% url 'rosegarden:branch_details' profile.branch.pk %}">{{ profile.branch.name }}</a></td>
        </tr>
        {% endfor %}
    </table>
{% endblock content%}
